# Default ignored files
/shelf/
/workspace.xml
*.imi
.idea
target
.DS_Store
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
